html{
    background-color: yellow;
}
b{
    font-size:30px;
}
.child{
    height:100px;
    width:100px;
    background-color: rgb(94, 145, 145);
    animation-name: kiran;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 20px;
}
.parent{
    margin:auto;
    width:35vw;
    display: flex;
    justify-content: space-between;
}
@keyframes kiran{
    0%{
        transform: skew(30deg);
    }
50%{
    transform:skew(-30deg);
}
100%{
    transform:skew(30deg);
}
}
.child1{
    height:100px;
    width:100px;
    background-color: rgb(233, 170, 180);
    animation-name: aira;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 20px;
}
.parent1{
    margin:auto;
    width:35vw;
    display: flex;
    justify-content: space-between;
}
@keyframes aira{
    0%{
        transform: skewY(30deg);
    }
50%{
    transform:skew(-30deg);
}
100%{
    transform:skew(30deg);
} 
}
.child2{
    height:100px;
    width:100px;
    background-color:rgb(45, 172, 45);
    animation-name: ashvini;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 20px;
}
.parent2{
    margin:auto;
    width:35vw;
    display: flex;
    justify-content: space-between;
}
@keyframes ashvini{
    0%{
        transform: rotate(0deg);
    }
50%{
    transform:rotate(360deg);
}
100%{
    transform:rotate(0deg);
} 
}
.parent3{
    margin:auto;
    width:35vw;
    display: flex;
    justify-content: space-between;
}
.child3{
    height:100px;
    width:150px;
    background-color: green;
    animation-name: akriti;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 30px;
}
@keyframes akriti{
    0%{
        height:50px;
    }
50%{
    height:100px;
}
100%{
height:50px;
} 
}
.child4{
    height:100px;
    width:250px;
    background-color: orange;
    animation-name: pooja;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 30px;
}

@keyframes pooja{
    0%{
        width:50px;
    }
    50%{
    width:100px;
    }
    100%{
        width:50px;
    }

}
.child5{
    height:100px;
    width:100px;
    background-color: red;
    animation-name: shruti;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 30px;
}
@keyframes shruti{
    0%{
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(360deg);
    }
    100%{
        transform:rotate(0deg);
    }
}
p{
    text-align: center;
    font-size: 20px;
    margin-top: 90px;
    font-weight: bold;
}
